NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=8vLkdQq3Ya6ZRx4ApVLsBC6s1aLbS5dkEH29fJa8oMuW
NEXT_PUBLIC_BAY_MINT=agYm2drYnvKnGQoXh1iZQ4iWYZPa87qtGe4baTNckdB

